body {
    color: red;
}

[href] {
    text-decoration: none;
}

[href]:visited {
    color: red;
}

li:hover{
    cursor:n-resize;
}

img {
    height: 1000px;
    width: 500px;;
    object-fit:contain;
    background-image: url(cursor.png);
}

.point{
    position: absolute;
    top:100px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 5px;
}